<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <!-- Social Links Section -->
    <div class="social-links">
      {%- include social.html -%}
    </div><p></p>

    <!-- Main Footer Content -->
    <div class="center-text">
      <!-- Symbolic Links -->
      <div class="symbolic-links">
        <a href="https://khalsachronicle.substack.com/"><span class="khanda-symbol">☬</span></a>&nbsp;|&nbsp;
        <a href="https://www.archives.gov/founding-docs/constitution-transcript"><span class="flag-symbol">🇺🇸</span></a>&nbsp;&nbsp;|&nbsp;
        <a href="mailto:prab@hey.com">✉️</a>&nbsp;&nbsp;|&nbsp;<a href="tel:+18323844877">📱</a><br>
      </div>
        <!-- Site Information -->
        © Randhawa Inc. | Last updated: {{ site.time | date: "%-m/%-d/%y" }}<br>
        309 Coffeen Ave Suite 13286, Sheridan, Wyoming 82801<br>

        <!-- Gurmukhi Text Link -->
        <a href="https://www.sikhitothemax.org/ang?ang=1&source=G" class="gurmukhi-link">
          ੴਸਤਿਨਾਮੁਕਰਤਾਪੁਰਖੁਨਿਰਭਉਨਿਰਵੈਰੁਅਕਾਲਮੂਰਤਿਅਜੂਨੀਸੈਭੰਗੁਰਪ੍ਰਸਾਦਿ॥
        </a>
    </div>
  </div>
</footer>