<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <!-- Social Links Section -->
    <div class="social-links">
      {%- include social.html -%}
    </div>

    <!-- Main Footer Content -->
    <div class="center-text">
      <!-- Symbolic Links -->
      <div class="symbolic-links">
        <a href="https://www.youtube.com/@SGPCSriAmritsar"><span class="khanda-symbol">☬</span></a> | 
        <a href="https://www.archives.gov/founding-docs/constitution-transcript"><span class="flag-symbol">🇺🇸</span></a>
      </div>

      <!-- License and Contact Information -->
      <p xmlns:cc="http://creativecommons.org/ns#">
        <!-- Creative Commons License -->
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" class="cc-license">
          <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="CC">
          <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="BY">
          <img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt="NC">
          <img src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt="SA">
        </a><br>

        <!-- Contact Information -->
        Contact: <a href="mailto:prab@hey.com">via email</a> | <a href="tel:+18323844877">via phone</a><br>

        <!-- Site Information -->
        Last updated: {{ site.time | date: "%B %d, %Y" }}<br>
        © Randhawa Inc. | Some Rights Reserved<br>
        309 Coffeen Ave Suite 13286, Sheridan, Wyoming 82801<br>

        <!-- Gurmukhi Text Link -->
        <a href="https://www.searchgurbani.com/guru-granth-sahib/ang-by-ang" class="gurmukhi-link">
          ੴਸਤਿਨਾਮੁਕਰਤਾਪੁਰਖੁਨਿਰਭਉਨਿਰਵੈਰੁਅਕਾਲਮੂਰਤਿਅਜੂਨੀਸੈਭੰਗੁਰਪ੍ਰਸਾਦਿ॥
        </a>
      </p>
    </div>
  </div>
</footer>